<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="Serialize.Linq.Examples.WcfHost.Services.PersonService" behaviorConfiguration="PersonServiceBehavior" >
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/PersonService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="Serialize.Linq.Examples.WcfContracts.Interfaces.IPersonService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PersonServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>